<?xml version="1.0"?>

<model>
  <name>overhead_camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Arnab Paikaray</name>
    <email>arnabgudu.gs@gmail.com</email>
  </author>

  <description>
    A simple overhead camera for Grid3.0 track (round-1)
  </description>
</model>
